<% layout('./layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Product</h1>
    <div class="col-6 offset-3">
        <form action="/products"  method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="product[name]" required
                value="<%= product.name %>">
                <div class="valid-feedback">
                    Looks Great!
                </div>
            </div>

            <div  class="mb-3">
                <label class="form-label" for="category">Category</label>
                <!-- <input class="form-control" type="text" id="category" name="product[category]"> -->
                 <select name="product[category]" id="category">
                    <option value="fruit" <%= product.category === 'fruit' ? 'selected':""%>>fruit</option>
                    <option value="vegetable" <%= product.category === 'vegetable' ? 'selected':""%>>vegetable</option>
                    <option value="dairy" <%= product.category === 'dairy' ? 'selected':""%>>dairy</option>
                    <option value="meat" <%= product.category === 'meat' ? 'selected':""%>>meat</option>
                    <option value="poultry" <%= product.category === 'poultry' ? 'selected':""%>>poultry</option>
                 </select>
                 <div class="valid-feedback">
                    Looks Great!
                </div>
            </div>

            <div  class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="product[image]" required
                    value="<%= product.image %>">
                <div class="valid-feedback">
                        Looks Great!
                </div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Product Price</label>
             <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" name="product[price]"  id="price" aria-describedby="price-label" aria-label="price" placeholder="0.00"
                    value="<%= product.price %>" required>
                <div class="valid-feedback">
                        Looks Great!
                </div>
            </div>
            </div>              

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="product[description]" required >
                    <%= product.description %>"</textarea>
                <div class="valid-feedback">
                        Looks Great!
                </div>
            </div>
           <button class="btn btn-info">Update Product</button>
        </form>
        <footer>
            <a href="/products/<%= product._id%> ">Back to Product</a>
        </footer>
       
    </div>
</div>