<% layout('./layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">Edit Product</h1>
    <div class="col-6 offset-3">
        <form action="/products"  method="POST">
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" type="text" id="name" name="product[name]"
                value="<%= product.name %>">
            </div>
            <div  class="mb-3">
                <label class="form-label" for="category">Category</label>
                <input class="form-control" type="text" id="category" name="product[category]" 
                value="<%= product.category %>">
            </div>
          
            <div  class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="product[image]" 
                    value="<%= product.image %>">
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Product Price</label>
             <div class="input-group">
                <span class="input-group-text" id="price-label">$</span>
                <input type="text" class="form-control" name="product[price]"  id="price" aria-describedby="price-label" aria-label="price" placeholder="0.00"
                    value="<%= product.price %>">
              </div>
            </div>              

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="product[description]" >
                    <%= product.description %>"</textarea>
            </div>
           <button class="btn btn-info">Update Campground</button>
        </form>
        <a href="/products/<%= product._id%> ">Back to Products</a>
    </div>
</div>